@font-face {
    font-family: 'DragonWarrior';
    src: url(./ressources/fonts/dragon-warrior-iii.ttf);
  }

  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A1828;
    transition: background 0.8s linear;

}

header { 
    margin: auto;
    width: 80%;
    height: 120vh;
}

nav {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.box-gauche {
    width: 100%;
    
}

.box-droite {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: #178582;
    font-size: 1.2rem;
    margin: 0 2rem;
    font-family: 'Inter', sans-serif;
}

.ico_head {
    width: 35px;
    margin: 0 2rem;
}

h1 {
    margin-top: 300px;
    text-align: center;
    font-size: 70px;
    color: #BFB981;
    font-family: 'Inter', sans-serif;
    transition: color 0.8s linear
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

.intro {
    width: 100%;
    background-image: url('./ressources/sl_082120_34200_12.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-intro {
    display: flex;
    width: 100%;
    padding: 2rem;
    
}

.bg-box {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 0.1rem;
}

.white-border {
    border: 7px solid #FFFFFF;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-family: 'DragonWarrior';
}

p {
    color: white;
}

.pres {
    width: 600px;
    height: 250px;
    margin: auto;
    margin-top: 120px;
    font-size: 1.3rem;
    position: relative;
}

.pdp {
    position: relative;
    left: 250px;
}
.project {
    width: 180px;
    margin: auto;
   
}

.projs {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    max-width: 600px;
    font-size: 1.3rem;
}

.skills {
    width: 250px;
    margin: auto;
}

.skill-list {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    max-width: 600px;
}

section {
    margin-top: 2rem;
}

.flex-in {
    display: flex;
    justify-content: space-around;
}

.skill-item {
 margin-top: 2rem;
 margin-bottom: 2rem;
}

.pop_agence {
    display: none;
    position: fixed;
    width: 90%;
    height: 100%;
    left: 5%;
    top: 0%;
    z-index: 1000000;
}

.pop_snake {
    display: none;
    position: fixed;
    width: 90%;
    height: 100%;
    left: 5%;
    top: 0%;
    z-index: 1000000;
}

.close_agence {
    font-size: 2rem;
    cursor: pointer;
}

.close_snake {
    font-size: 2rem;
    cursor: pointer;
}

.screen {
    display: flex;
    width: 90%;
    margin: auto;
}

.screen_snake {
    display: flex;
    width: 40%;
    margin: auto;
}

.agence {
    cursor: pointer;
}

.snake {
    cursor: pointer !important;
    
}

#voy {
    display: none;
}

#sna {
    display: none;
}

.agence:hover > #voy {
    display: inline-block;
}

.snake:hover > #sna {
    display: inline-block;
}

.copyright {
    color: #178582;
    text-align: center;
    margin-top: 3rem;
}

.light-mode {
   background-color: #BFB981;
}

.h1-dark {
    color: #0A1828;
    
}

.label-light {
    background-color: #fdf7f7 !important;
    
}

.ball-dark {
    background-color: #111 !important;
}

.checkbox {
    opacity: 0;
    position: absolute;

  }

.label {
    width: 50px;
    height: 26px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    margin: auto;
    transition: ease-in 0.8s;
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  .english {
    display: none;
  }

  #fr_flag {
    cursor: pointer;
  }

  .light_select {
    box-shadow: 0px 50px 4px -25px rgba(245, 245, 245, 0.75);
  }

  #en_flag {
    cursor: pointer;
  }

  .flags_container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 3rem;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }

  .check-for-dark {
    margin-top: 1rem;
  }

  section {
    margin-bottom: 10rem;
  }

  .list-unstyled {
    display: none;
    
  }
  

@media screen and (max-width: 1372px) {

    .intro {
        background-position: left;
        
    }
    .flex-intro {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    .pdp {
       width: 18rem;
       position: initial;
       left: 0%;
    }
}

@media screen and (max-width: 960px) {
    .pres {
      width: 500px;
    }

    .box-gauche {
        display: none;
    }

    .box-droite {
        display: none;
    }

    #burger {
        width:1.8rem;
        height:2px;
        background:rgb(203, 29, 209);
        display:inline-block;
        position:fixed;
        z-index: 10000;
        left: 5%;
        top: 8%;
        transition: all 1s ease;
      }
    .list-unstyled {
        padding-top: 20%;
        position: fixed;
        top: 0;
        left: -150%;
        font-size: 3rem;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        text-align: center;
        transition: all 1s ease-in;
        
    }

    li {
        margin-top: 1rem;
    }

    .li_link {
        text-decoration: none;
        color:rgb(203, 29, 209);
        text-shadow: #111 2px 2px 2px;

    }

    #burger::before,
    #burger::after {
    content:'';
    width:1.8rem;
    height:2px;
    background:rgb(203, 29, 209);
    display:inline-block;
    position:absolute;
    transform-origin: center;
    transition: all 0.3s ease;
    }
    #burger::before {
    top:-7px;
    }
    #burger::after {
    top:7px;
    }

    #burger.open {
        background:transparent; /* la barre du milieu disparait */
    }
    /* celles du haut et du bas s'inclinent pour former une croix */
    #burger.open::before {
        transform: rotate(45deg); 
        top:0;
    }
    #burger.open::after {
        transform: rotate(-45deg);
        top:0;
    }
    .list-unstyled.open {
        display: block;
        left: 0;
        transition: all 1s ease-out;
    }
  }

@media screen and (max-width: 621px) {
  .pres {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
    .pres {
      width: 450px;
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 472px) {
    .pres {
      width: 350px;
      font-size: 1rem;
    }
    .skill-list {
        font-size: 0.7rem;
    }
  }